
body {
    background-color: #EEEEEE;
}
.title {
    grid-area: title;
}

.workGrid{
    display: grid;
    grid-template-rows: 450px 450px;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: 
    'title MAMoverview MAMimage'
    'title DOEoverview DOEimage'
    ;
    margin: 5%;
}
.MAMoverview {
    padding-left: 5%;
    grid-area: MAMoverview;
}
.DOEoverview {
    padding-left: 5%;
    grid-area: DOEoverview;
}
.MAMimage {
    grid-area: MAMimage;
}
.DOEimage {
    grid-area: DOEimage;
}

img {
    max-width: 80%;
}
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 72px;
    writing-mode: vertical-lr;
    color: #EEEEEE;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}
h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    padding-top: 1%;
    width: 56%
}
p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-top: 1%;
    width: 80%;
    padding-bottom: 1%;
}
button {
    text-align: center;
    border: 2px solid black;
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
    width: 150px;
    height: 8%;
    cursor: pointer;
}
.line {
    background-color: #718CD2;
    height: 3px;
    width: 20%;
}
@media only screen and (max-width: 600px) {
    .workGrid{
        display: grid;
        grid-template-rows: 0.5fr 1fr 1.5fr 1fr 1.5fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'title'
        'MAMimage'
        'MAMoverview'
        'DOEimage'
        'DOEoverview'
        ;
        margin: 0 auto;
        text-align: center;
    }
    h1 {
        writing-mode: horizontal-tb;
        font-size: 32px;
        text-align: center;
        color: black;
        -webkit-text-stroke-width: 0px;
    }
    h2 {
        font-size: 22px;
        width: 500px;
    }
    p {
        width: 500px;
    }
    img {
        max-width: 300px;
    }
  
    .MAMoverview {
        padding-left: 0%;
    }
    .DOEoverview {
        padding-left: 0%;
    }

    button {
        height: 12%;
    }
    .line {
        height:0%;
    }
}