body {
    background-color: #EEEEEE;
}
.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    padding: 5%;
    margin-top: -5%;
}

.flexChild {
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 72px;
    padding-left: 5%;
}
h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
}
img {
    max-width: 45%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 80%;
    padding-top: 2%;
}
.line {
    display: flex;
    background-color: #718CD2;
    height: 3px;
    width: 30%;
}
@media only screen and (max-width: 600px) {
    .flexContainer {
        flex-direction: column;
    }
    .flexChild {
        width: 100%;
    }
    h1 {
        font-size: 32px;
        text-align: center;
    }
    h2 {
        font-size: 22px;
    }
    p {
        padding-top: 0%;
    }
    img {
        max-width: 40%;
    }
}
